* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* input css  */
input::-webkit-inner-spin-button {
  display: none;
}

body {
  background-color: hsl(0, 5%, 93%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.box {
  background-color: white;
  width: 65%;
  height: 85%;
  padding: 2rem;
  border-radius: 1rem 1rem 9rem 1rem;
}

.date label {
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  font-weight: 700;
  color: rgb(138, 138, 138);
}

.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.2vw;
  margin-bottom: 2vh;
  margin-top: 1vh;
}

.date input {
  width: 10vw;
  height: 8vh;
  margin-right: 1.8vw;
  margin-top: 0.4vh;
  margin-bottom: none;
  font-size: large;
  font-weight: 700;
  padding: 1vh;
  padding-bottom: none;
  border: 1px solid rgba(138, 138, 138, 0.461);
  border-radius: 8px;
  cursor: pointer;
}

.date input:focus {
  outline: 1px solid hsl(204, 98%, 49%);
  border-radius: 8px;
}

.warring {
  color: red;
  font-size: 0.5vw;
}

/* enter css */

.enter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.2vw;
  margin-top: none;
  padding: none;
  justify-content: center;
}
.enter hr {
  width: 80%;
}

.enter button {
  border-radius: 50%;
  border: none;
  background-color: hsl(264, 100%, 64%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 6px 8px 20px rgba(0, 0, 0, 0.213);
}
.enter button img {
  width: 50%;
  height: 80%;
  margin: 3vh;
}

.enter button:hover {
  background-color: hsl(0, 0%, 0%);
  transform: scale(1.1);
  box-shadow: 6px 8px 40px rgba(0, 0, 0, 0.32);
}

.enter button:active {
  background-color: hsl(305, 59%, 62%);
  transform: scale(0.9);
}

/* date br  */

.Br-date {
  font-size: 6vw;
  font-weight: 800;
  margin-bottom: 4vh;
  margin-top: none;
}
.Br-date p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#br-year,
#br-month,
#br-day {
  color: blue;
}
